.ipynb_checkpoints/*
__pycache__/
# random dirs
OCR=kraken_dummy_corpus/*
OCR=tesseract_dummy_corpus/*
dummy_corpus/Suitte_et_troisieme_arrivee_du_covrier_path/*
venv_kraken/*
venv_tesseract/*
dummy_corpus_res/*
*_ocr/*
todo.*
kraken_models_list.txt
alessandra*/*
